@import "components/header";
@import "components/section";   
@import "components/footer";
@import "components/main";
// Estilos generales 

body {
    margin: 0;
    background-color: rgb(240, 240, 240);
}

h1 {
    font-size: 4rem;
    text-align: center;
    color: rgba(43, 26, 226, 0.895);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   
}

span {
    color: rgba(64, 233, 18, 0.895);
    text-shadow: 2px 4px 2.5px rgb(43, 26, 226);
}

h3 {
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
}

h4 {
    font-size: 1.4rem;
}

p {
    font-size: 1.1rem;
    text-align: center;
    
}

.parrafo_rutinas {
    margin: 80px 0 40px 0;
}

// article

#banner_index {
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("../img/banner_index.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#banner_planes {
    height: 70vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("../img/banner_planes.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

#banner_rutinas {
    width: auto;
    height: 50vh;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-image: url("../img/banner_rutinas.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}








// footer {
//     p {
//         color: rgb(0, 0, 0);
//     }
// }


// #logo {
//     max-width: 4em;
// }

// tr,th,td, table{
//     border: 1px solid black;
// }