footer {
    background-color: black;

    p {
        padding: 0;
        color: white;
        font-size: 1.0rem;
    }
    
    li {
        color: white;
    }

    img {
        max-width: 2rem;
        margin-right: 10px;
    }

    div {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }
}