#logo {
    max-width: 4rem;
}   

nav {
    li {
        list-style: none;
        
    }

    a {
        text-decoration: none;
        color: black;

        &:hover {
            background-color: rgba(55, 216, 10, 0.516);
        }
    }



}