section { 
    h3 {
        margin-bottom: 50px;
    }

    table {
        border-collapse: collapse;

        tr, td, th {
            border: 2px solid black;
            padding: 10px;
            text-align: center;
            
        }

        th {
            background-color: rgba(0, 255, 255, 0.484);
        }
    }
}